* {
	font:normal normal normal medium/normal sana-serif;
	color:white;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color:#555555;
}

#title{
	background:white;
	color:#0099ff;
	
}

.a{
	width="70";
	height="70";
}
